
body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-image: url(./img/background.jpg);
  background-size: 100%;
  color: white;
}
.panel, .game {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.visible {
  display: flex;
}
button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #1f2833;
  color: white;
  transition: background 0.3s;
}
button:hover {
  background-color: #66fcf1;
  color: black;
}
img {
  width: 150px;
}
.cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}
.card-box {
  text-align: center;
}
