body {
    background-color:aliceblue;
}

header {
    background-color: rgba(255, 0, 0, 0.452);
    width: 100%;
    height: 15%;
    position: absolute;
    left: 0px;
    top: 0px;

}

.image {
    position: relative;
    width: 7vw;
    padding-left: 10vw;
}

#search {
    position: relative;
    width: 28vw;
    top: -6vh;
    height: 5vh;
    left: 10vw;
    border-radius: 15px;
}

#botonSearch {
    position: relative;
    width: 2vw;
    margin-left: 10vw;
}